h1{
    font-family: sans-serif;
    }
   
    table {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #000000;
    border: rgb(12, 0, 0) 1px solid;
    }
   
    table th {
    height: 3cm;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: #000000;
    padding: 15px 35px;
    border-left:1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #df4f4f;
    }
   
    table th:first-child{
    border-left:none;
    }
   
    table tr {
    text-align: center;
    padding-left: 20px;
    }
   
    table td:first-child {
        text-align: left;
        padding-left: 20px;
        border-left: 0;
 }

 table td {
 padding: 15px 35px;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 background: #faaeae;
 background: -webkitgradient(linear, left top, left bottom, from(#45a5c2), to(#45a5c2));
 background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
 }

 table tr:last-child td {
 border-bottom: 0;
 }

 table tr:last-child td:first-child {
 -moz-border-radius-bottomleft: 3px;
 -webkit-border-bottom-left-radius: 3px;
 border-bottom-left-radius: 3px;
 }

 table tr:last-child td:last-child {
 -moz-border-radius-bottomright: 3px;
 -webkit-border-bottom-right-radius: 3px;
 border-bottom-right-radius: 3px;
 }

 table tr:hover td {
 background: #f2f2f2;
 background: -webkitgradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
 background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
 }